<%- include('partials/header') %>
<%- include('partials/topnavbar') %>
<li class="nav-item active">
    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link present" href="/aboutus">About Us</a>
  </li>
<%- include('partials/bottomnavbar') %>

<div>
  <br>
  <br>
  <h1>About AI Gurukul</h1>
  <br>
  <br>
  <p>DESCRIPTION:Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque et explicabo accusantium saepe cupiditate beatae minima, ipsam, commodi magnam suscipit unde vel veniam odit? Aliquid aperiam omnis earum pariatur magni. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, non repellendus, quaerat id laborum ab, quasi est similique consectetur veritatis odio aliquid explicabo ipsum? Explicabo ducimus vitae porro est sunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur nostrum provident dignissimos omnis fugit nihil quam iure incidunt optio soluta, praesentium, sit inventore numquam fuga alias esse animi. Nobis, cupiditate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates ut facere officiis corporis dolor magni tempora ullam autem. Iusto sit velit ea perferendis excepturi ratione eius omnis adipisci. Impedit, veniam.</p>


</div>

<!--
<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">AI-Gurukul</h1>
    <p class="lead">Register your Organization for Free!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/registerorganization" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/loginorganization" role="button">Login</a>

  </div>
</div>
-->

<%- include('partials/footer') %>
