
body {
    background-color: #E8ECEF;
  }
  
  .centered {
    position: relative;
      padding-top: 200px;
      text-align: center;
  }
  
  .secret-text {
    position: relative;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background-color: #000;
  }
  
  .box {
    position: relative;
    max-width: 100%;
    margin: 25px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    
  }
  
  .userbtn {
    position: relative;
    background-color: black;
    text-align: center;
    padding-right: 100%;
  }
  .present{
    background-color: darkcyan;
  }
  .item{
    position: relative;
    padding-right: 5%;
    min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
  }
  .flex-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    position: relative;
    text-align: center;
    background-color: #f1f1f1;
    width: 48%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }